.xyz{
    height: 300px;
    background-image:url(123.jpg);
    background-repeat:no-repeat ;
    background-position: center;
    background-attachment: scroll;
    opacity: 0.4;
}
.def{
    text-align: center;
    color: brown;
    font-size: 2px;
    font-family: 'Times New Roman', Times, serif;
}
.abc{
    border-width: 2px 4px 2px 4px;
   
    border-color: chartreuse;
    border-style: double;
    height: 400px;
    width: 400px;
    float: left;
    position: sticky;
         
    top: 0;
    padding: 10px;
    box-shadow: 8px 8px 12px red;
    text-shadow: 1px 1px 2px blue;
}
div:hover{
    background-color: blueviolet;
    color: aliceblue;
}
.abc img{
    width:100% ;
    height: auto;
}